/* Tailwind Base and Components */
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif; /* or any font from your Figma */
}

.header {
  background-color: #1b2838; /* Dark Blue background */
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Lift effect */
}

button img {
  transition: transform 0.2s ease-in-out;
}

button:hover img {
  transform: scale(1.1);
}

input[type="text"] {
  border: none;
  outline: none;
}

.footer {
  background-color: white;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.footer a {
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #2563eb; /* Tailwind's blue-600 for hover state */
}
.property-card {
  position: relative;
}

.relative {
  position: relative;
}

.favorite-button {
  transition: color 0.3s ease;
}

.favorite-button.text-red-700 {
  color: #e11d48; /* Tailwind red-700 */
}
